* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

p,
img,
div,
canvas {
  vertical-align: top;
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

#gallery.app {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.scale {
  opacity: 0.7 !important;
  transform: scale(0.8);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  object-fit: contain;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
}
